body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important;
    background: #ffffff;
}

.content {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.bgd_right {
    z-index: -1;
    position: fixed;
    right: 0;
    height: 80%;
    bottom: 0;
}

.bgd_left {
    z-index: -1;
    position: fixed;
    left: -100px;
    height: 60%;
    bottom: 0;
}

a,
a:hover {
    text-decoration: none;
}

.zvonok {
    position: fixed;
    z-index: 110;
    bottom: 0;
    right: 10%;
    cursor: pointer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.call_t {
    border: none;
    margin: 10px 0;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    background: #f4f4f4;
}

.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    width: 300px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    border-radius: 11px;
}

.popup .close_window {
    width: 6px;
    height: 17px;
    position: absolute;
    padding: 1px 9px 4px 9px;
    top: -15px;
    right: -15px;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

.popup .close_window:hover {}

.popup .close_window:active {}

div#myblock {
    width: 400px;
    text-align: center;
    z-index: 9999;
    position: absolute;
    top: 40%;
    background: white;
    padding: 50px;
    border-radius: 10px;
    left: 35%;
}


/*  menu    */

.hour24 {
    width: 45px;
}

.logo {
    margin: 28px 20px;
}

.menu_item {
    font-size: 18px;
    color: #666666;
    margin-left: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu_1,
.menu_2 {
    display: inline-block;
}

.menu_1 {
    width: 25%;
}

.menu_2 {
    width: 74%;
    text-align: right;
}

.menu_3 {
    color: #414042;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    margin: -31px 0 0 0;
}

.menu_3_1 {
    display: inline-block;
    color: #ff4f2c;
    margin: 0 20px 0 0;
}


/*  cnt 1       */

.cnt_1 {
    margin: 20px 0 0 0;
    background: url(../img/elka.jpg);
    height: 310px;
    background-size: 100%;
}

.cnt_1_1 {
    color: #fff61a;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    padding: 100px;
}

.cnt_1_1_1,
.cnt_1_1_2 {
    width: 49%;
    display: inline-block;
}

.apps {
    margin: 20px 0 20px 20px;
}

.scn {
    width: 33px;
    height: 33px;
    margin: 0 20px 0 0;
}

.scn_l {
    width: 33px;
    height: 33px;
    margin: 0;
}

.cnt_1_1_2 {
    text-align: right;
}


/*      cnt 2 */

.cnt_2 {
    font-size: 14px;
    color: #3b3b3b;
    font-weight: 600;
    text-align: center;
}

.cnt_2 img {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 20px;
}

.cnt_2_1,
.cnt_2_3,
.cnt_2_2 {
    display: inline-block;
    font-size: 18px;
}

.cnt_2_3 {
    float: right;
    margin-right: 20px;
}

.cnt_2_1 {
    float: left;
    margin-right: 20px;
}


/*          online order      */

.sale {
    position: absolute;
    z-index: 105;
    margin-left: 280px;
}

.cnt_3 {
    background: #414042;
    padding: 20px;
}

.cnt_3_1,
.cnt_3_2 {
    display: inline-block;
    margin-right: 19px;
    vertical-align: top;
}

.cnt_3_3 {
    display: inline-block;
    vertical-align: top;
}

.cnt_3_1_1_2,
.cnt_3_1_1_3 {
    float: right;
    padding: 0 5px;
    vertical-align: top;
    margin: -19px 0 0 0;
    cursor: pointer;
    background: #f4f4f4;
}

.activ_time_t {
    background: #414042;
    color: #f4f4f4;
}

.cnt_3_1_1 label {
    display: block;
    color: #feef00;
    margin-left: 5px;
    font-size: 16px;
}

.cnt_3_1_1 input {
    border: none;
    padding-left: 20px;
    width: 245px;
    height: 40px;
    background: #f4f4f4;
}

.cnt_3_1_1 select {
    border: none;
    padding-left: 20px;
    width: 245px;
    height: 40px;
    background: #f4f4f4;
}

.cnt_3_1_1 textarea {
    border: none;
    width: 245px;
    background: #f4f4f4;
    height: 100px;
}

.cnt_3_2_1 {
    width: 237px;
    height: 150px;
    margin: 0 0 14px 0;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    background: #f4f4f4;
}

.activ_car {
    background: #feef00;
}

.cnt_3_2_1_t_1 {
    color: #414042;
    font-weight: 600;
    padding: 10px;
    font-size: 16px;
}

img.cnt_3_2_1_i {
    width: 80%;
    float: right;
    margin: -40px 0 -40px 0;
}

.cnt_3_2_1_t_2 {
    color: #414042;
    font-weight: 600;
    font-size: 16px;
    margin: 65px 0 0 20px;
}

.cnt_3_2_1_t_4 {
    color: #333;
    text-decoration: line-through;
    display: inline;
    font-weight: 400;
    font-size: 17px;
}

.cnt_3_2_1_t_5 {
    float: right;
    background: url(../img/triangle.png);
    width: 75px;
    margin: -35px 0 0 0;
}

.cnt_3_2_1_t_3 {
    color: #ff4f2c;
    margin-left: 40px;
    font-weight: 600;
    font-size: 17px;
}

input.cnt_3_2_1_btn {
    color: #414042;
    border: none;
    width: 100%;
    font-weight: 800;
    padding: 5px 0px;
    background: #feef00;
    font-size: 22px;
    text-transform: uppercase;
}

.cnt_3_2_1_add {
    width: 237px;
    padding: 10px;
    display: none;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    background: #f4f4f4;
    margin: 10px 0;
}

.sel_time div {
    width: 23.8%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.sel_time,
.sel_time2 {
    width: 100%;
}

.sel_time {
    display: none;
}


/*          Выгодные цены      */

.cnt_4_1 {
    color: #666666;
    font-weight: 800;
    margin: 5px 0;
    font-size: 24px;
    text-align: center;
}

.cnt_4_2_1 {}

.cnt_4_2_1_2 img,
.cnt_4_2_1_3 img,
.cnt_4_2_1_4 img,
.cnt_4_2_1_5 img,
.cnt_4_2_1_6 img {
    max-height: 35px;
    max-width: 120px;
}

.cnt_4_2_1_6,
.cnt_4_2_1_5,
.cnt_4_2_1_4,
.cnt_4_2_1_3,
.cnt_4_2_1_2,
.cnt_4_2_1_1 {
    display: inline-block;
    width: 16%;
    vertical-align: top;
}

.cnt_4_2_2_i {
    display: none;
}

.cnt_4_2_1_1 {
    font-size: 20px;
    color: #666666;
    font-weight: 600;
    margin: 5px 0;
}

.cnt_4_2_1_2,
.cnt_4_2_1_3,
.cnt_4_2_1_4,
.cnt_4_2_1_5 {
    font-size: 20px;
    color: #b7b4b4;
    text-align: center;
    font-weight: 600;
    margin: 5px 0;
}

.cnt_4_2_1_6 {
    font-size: 20px;
    color: #414042;
    text-align: center;
    font-weight: 800;
    margin: 5px 0;
}


/*          About us       */

.cnt_5_1 {
    background: #58595b;
    margin-top: 20px;
    color: #f4f4f4;
    padding: 5px 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.cnt_5_2 {
    width: 290px;
    height: 210px;
    display: inline-block;
    background: #F8F8FF;
    margin: 20px 0 0px 20px;
    background-size: 100% 100%;
}


/*          Contact us       */

.cnt_6 {
    margin-bottom: 50px;
}

.cnt_6_1 {
    background: #58595b;
    color: #f4f4f4;
    padding: 5px 0;
    margin-top: 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.cnt_6_2_1 {
    display: inline-block;
    width: 32%;
    text-align: center;
    vertical-align: top;
}

.cnt_6_2_1_1 {
    color: #58595b;
    margin: 5px 0;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.cnt_6_2_1_2 .scl {
    width: 64px;
    height: 64px;
    margin: 0 15px;
}

.cnt_6_2_1_2 div {
    color: #ff4f2c;
    font-size: 20px;
    font-weight: 600;
}

.cnt_6_2_1_2 .app {
    margin: 0 15px;
    width: 99px;
    height: 33px;
}


/*          Набор водителей       */

.cnt_7_1 {
    background: #58595b;
    margin-top: 20px;
    color: #f4f4f4;
    padding: 5px 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.cnt_7_2 {
    margin: 20px 0 0px 20px;
    font-size: 18px;
}

.cnt_7_2_b {
    font-weight: 800;
}


/*      mobile      */

@media only screen and (max-width: 900px) {
    .bgd_right,
    .bgd_left {
        display: none;
    }
    .content {
        width: 100%;
    }
    .menu_1,
    .menu_2 {
        width: 100%;
        text-align: center;
        display: block;
    }
    .logo {
        width: 50%;
    }
    .menu_item {
        display: block;
        margin: 0!important;
    }
    .menu_3 {
        margin: 0;
        text-align: center;
    }
    .zvonok {
        width: 30%;
    }
    .cnt_1 {

        background-size: 100% 100%;
        min-height: 275px;
        height: none;
    }
    .cnt_1_1 {
        padding: 0;
    }
    .cnt_1_1_1,
    .cnt_1_1_2 {
        width: 100%;
        display: block;
        text-align: center;
    }
    .cnt_1_1_2 {
        text-align: center;
    }
    .cnt_2_1,
    .cnt_2_3,
    .cnt_2_2 {
        display: block;
    }
    .cnt_2_1 {
        float: none;
        margin-right: 0;
    }
    .cnt_2_3 {
        float: none;
        margin-right: 0;
    }
    .cnt_3_1,
    .cnt_3_2 {
        margin-right: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    .cnt_3_3 {
        display: none;
    }
    .cnt_4_2_1 {
        display: none;
    }
    .cnt_4_2_2_i {
        display: block;
        margin: 0 auto;
    }
    .cnt_4_2_1_6,
    .cnt_4_2_1_5,
    .cnt_4_2_1_4,
    .cnt_4_2_1_3,
    .cnt_4_2_1_2,
    .cnt_4_2_1_1 {
        display: block;
        text-align: center;
        width: 100%;
    }
    .cnt_3_1_1 select {
        width: 100%;
    }
    .cnt_3_1_1 textarea {
        width: 100%;
    }
    .cnt_3_1_1 input {
        width: 100%;
    }
    .cnt_3_2_1_add {
        margin: 10px auto;
    }
    .cnt_3_2_1 {
        margin: 0 auto 14px;
    }
    .cnt_5_2 {
        margin: 20px auto 0;
    }
    .cnt_6_2_1 {
        display: block;
        width: 100%;
    }
}